@font-face {
    font-family: my-cool-font;
    src: url(Norse-Bold.otf);
  }

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0px;
    background-color: black;
    font-family: roboto;
}

.left {
    height: 80vh;
    width: 80vw;
    background-color:white;
    display:flex;
}

.card {
    height: 80vh;
    width: 25vw;
    position: relative;
}
img.background {
    height: 100%;
    width: 25vw;
    object-fit: cover;
    position: absolute;
}

.banner {
    position: relative;
    top: 15vh;
    background-color: rgba(0, 0, 0, 0.596);
    height: auto;
    padding: 30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.banner-logo {
    height: 10vh;
}

.banner-text {
    font-size: 64px;
    font-family: my-cool-font;
    color: white;
}

.right {
    width: 55vw;
}

.right .container {
    padding: 5vw;
    padding-top: 10vw;
    display:flex;
    flex-direction: column;
    gap:10vh;
}

.header {
    font-size: 32px;
    font-weight: 700;
}

button, input, select, textarea {
    font-family: inherit;
    width: 20rem;
    height: 1.5rem;
    font-size: 100%;
  }

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:16px;
}

li {
    width: 400px;
    display:flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    letter-spacing: .05rem;
    font-weight: bold;
    color: rgb(44, 44, 44);
}

button {
    margin-top: 32px;
}