@font-face {
    font-family: my-cool-font;
    src: url(Norse-Bold.otf);
  }

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0px;
    background-color: black;
    font-family: roboto;
}

.left {
    height: 80vh;
    width: 80vw;
    background-color:white;
    display:flex;
}

.card {
    height: 80vh;
    width: 25vw;
    position: relative;
}
img.background {
    height: 100%;
    width: 25vw;
    object-fit: cover;
    position: absolute;
}

.banner {
    position: relative;
    top: 15vh;
    background-color: rgba(0, 0, 0, 0.596);
    height: auto;
    padding: 30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.banner-logo {
    height: 10vh;
}

.banner-text {
    font-size: 64px;
    font-family: my-cool-font;
    color: white;
}

.right {
    width: 55vw;
    height:80vh;
}

.right .container {
    height:90%;
    padding:10%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    font-size: 32px;
    font-weight: 700;
}

button, input, select, textarea {
    font-family: inherit;
    width: 20rem;
    height: 1.5rem;
    font-size: 100%;
  }

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:16px;
}

li {
    width: 400px;
    display:flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    letter-spacing: .05rem;
    font-weight: bold;
    color: rgb(44, 44, 44);
}

button {
    margin-top: 32px;
    height: 3vh;
    background-color: rgb(81, 152, 219);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(81, 152, 163);
}

input {
    border-radius: 5px;
    border: 1px solid rgb(151, 151, 151);
}

input:focus {
    border: 1px solid rgb(0, 255, 55);
    outline: none;
    box-shadow: 1px 1px 3px rgb(182, 182, 182);
}

input:not(:placeholder-shown):invalid {
    border: 1px solid rgb(255, 0, 0);
}

input:focus:invalid {
    border: 1px solid red;
}

.login a{
    color: rgb(81, 152, 163);
    font-weight: 700;
    text-decoration: none;
}
